@tailwind base;
@tailwind components;
@tailwind utilities;
*,html{
  margin: 0;
  padding: 0;
  font-size: 16px;

}
body {

  background-color: rgb(10, 25, 47);

  color: #ccd6f6;
}
.heading1{
  font-size:5rem ;
  /* 80px */
}
.heading2{
  font-size: 2rem;
  /* 32px */
}
.para-lg{
  font-size: 1.25rem;
  /* 20px */
}
.para-md {
  font-size: 1.125rem;
  /* 18px */
}
.para-nml{
  font-size: 1rem;
  /* 16px */
}
.para-sm{
  font-size: 0.87rem;
  /* 14px */
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(136, 146, 176,0.5);
  border-radius: 0.6rem;
  
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 146, 176, 0.8)
}
.flip_H {
  transform: scale(-1, 1);
}

/* Media queries */

@media only screen and (max-width: 1535px) {

  *,
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1279px) {

  *,
  html {
    font-size: 16px;
    
  }
}
@media only screen and (max-width: 1023px) {

  *,
  html {
    font-size: 14px;
    
    
  }
}
@media  only screen and (max-width: 767px) {

  *,
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 639px) {

  *,
  html {
    font-size: 14px;
    
  }
}
@media only screen and (max-width:428px) {
    *,
      html {
        font-size: 14px;
    
      }
      
}
@media only screen and (min-width: 1536px) {

  *,
  html {
    font-size: 20px;
  }
}

.skills-list  ::marker {
  content: "▹";
  color: #64ffda;
  font-size: 1rem;
  margin: auto 0.8rem;

}
.skills-list li{
  padding-left: 1rem;
}
